// © EMBL-European Bioinformatics Institute, 2023
// Update example nextflow config file for the BENGAL pipeline
// Yuyao Song <ysong@ebi.ac.uk>
// Oct 2023

// sections marked with CHANGE_PER_RUN should be adjusted per execution
// sections marked with CHANGE_PER_SETUP should be adjusted for each new setup on the cluster, etc.

// CHANGE_PER_RUN: directories for project root, work and results 

projectDir='/faststorage/project/THOR/tools/bengal/BENGAL' // containing this repo pulled
workDir='/faststorage/project/THOR/diana/integration_pigs_with_WT/integrated_pig_mice_hum/closer/more_closer/SMC/bengal_coronaries/'
params.results='/faststorage/project/THOR/diana/integration_pigs_with_WT/integrated_pig_mice_hum/closer/more_closer/SMC/bengal_coronaries/results'

// CHANGE_PER_RUN: params specific to dataset, please change according to your task
// input variables

// if each data is batchy, set batch_key to actual batch
// if each data does not appear bachy and cell type between batches are balanced, set batch_key to species_key

/// which column stores batch to integrate
params.batch_key='dataset'

// which column stores species names
params.species_key='species'

// which column specifies cell types matched between species
params.cluster_key='smc_phenotypes'

// Root cell in trajectory, should be one category in adata.obs[cluster_key]
params.root_cell='Contractile'

// which column stores cell types to perform SCCAF assessment, usually same with cluster_key
params.cluster_key_sccaf='smc_phenotypes'

// which column stores cell types to perform SCCAF annotation transfer, usually same with cluster_key
params.projection_key_sccaf='smc_phenotypes'

// input metadata file that maps species names to the respective raw count .h5ad files
params.input_metadata='/faststorage/project/THOR/tools/bengal/BENGAL/mph_metadata_coronaries.tsv'

// set task name to metadata file basename
params.task_name='mph_metadata_coronaries'

// CHANGE_PER_SETUP: the sceasy, scvi and scib conda env that is prepared
params.sceasy_conda='/home/dsharysh/miniforge3/envs/sceasy'
params.scvi_conda='/home/dsharysh/miniforge3/envs/scvi-3.10'
params.scib_conda='/home/dsharysh/miniforge3/envs/scib-pipeline-R4.0'


// CHANGE_PER_SETUP: cluster execution

process.executor = 'slurm'
executor {
    name = 'slurm'
    queueSize = 2000
}

// enable use of conda envs
conda.enabled = true

// CHANGE_PER_SETUP: singularity container paths and cluster resource options

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B $SINGULARITY_TMPDIR:/tmp -B $SINGULARITY_TMPDIR:/scratch'
    //Used to allow Singularity to access bashrc variables
    envWhitelist = ['SINGULARITY_TMPDIR']
}

process {
    withLabel: validate {
        container = "/faststorage/project/THOR/tools/bengal/BENGAL/bengal_py.sif"
    }
    withLabel: concat {
        container = "/faststorage/project/THOR/tools/bengal/BENGAL/bengal_concat.sif"
    }
    withLabel: convert {
        conda = "${params.sceasy_conda}"
    }
    withLabel: scanpy_based {
        container = "/faststorage/project/THOR/tools/bengal/BENGAL/bengal_py.sif"
    }
    withLabel: 'seurat_based|R_based' {
        container = "/faststorage/project/THOR/tools/bengal/BENGAL/bengal_seurat.sif"
    }
    withLabel: scvi_based {
        conda = "${params.scvi_conda}"
    }
    withLabel: scIB_based {
        conda = "${params.scib_conda}"
    }
    withLabel: sccaf {
        container = "/faststorage/project/THOR/tools/bengal/BENGAL/bengal_sccaf.sif"
    }
    withLabel: regular_resource {
        clusterOptions = '-A THOR -c 4 --mem=30g' 
        cache = 'lenient'
    }
    withLabel: regular_intg_resource {
        clusterOptions = '-A THOR -c 12 --mem=50g'
        cache = 'lenient'
    }
    withLabel: bigmem_intg_resource {
        clusterOptions = '-A THOR -c 12 --mem=100g'
        cache = 'lenient'
    }
   withLabel: GPU_intg_resource {
        clusterOptions = '-A THOR --gres=gpu:2 -p gpu --ntasks-per-node=4 --mem=50g' 
        cache = 'lenient'
    }

}


// params for pipeline, no need to change from here onwards

params.liger_metadata="${params.results}/results/rligerUINMF/h5ad_homology_concat/${params.task_name}_liger.tsv"
params.homology_concat_h5ad="${params.results}/results/h5ad_homology_concat/*.h5ad"
params.homology_concat_rds="${params.results}/results/h5ad_homology_concat/*.rds"
params.integrated_h5ad="${params.results}/results/*/cross_species/integrated_h5ad/*.h5ad"
params.integrated_rds="${params.results}/results/*/cross_species/integrated_h5ad/*.rds"

// nextflow trace settings, get run stats by adding -with-trace upon execution

trace {
    enabled = true
    file = "${params.results}/nf_trace/${params.task_name}_trace.txt"
    fields = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar'
    overwrite = true
}

